nav.navbar{
    background-color:  #345b89;
}

img{
    width: 100px;
    height: 100px;
    /*justify-content: center;
    justify-items: center;*/
<<<<<<< HEAD
    margin-left: 0px;
    margin-right: 0px;
=======
    margin-left: 50px;
    margin-right: 50px;
>>>>>>> origin/PiedePagina
}

#navbarDropdown1{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#navbarDropdown2{
    color: white;
    margin-top: 30px;
    text-justify: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

a.action.nav-link{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

